Segmentation/submit.sh
Segmentation/submit_test_oe.sh



# Ignore all __pycache__ directories
__pycache__/
# Ignore all .pyc files in the repository
*.pyc

# ignore stderr and stdout
*.err
*.out

# Ignore all files in graphics
Segmentation/graphics/*
Object detection/graphics/*
Object detection/submit.sh
# Ignore all .pth files
*.pth
*.pkl
Object detection/submit.sh
